{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>User Status Management System</title>

        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="{% static 'js/angular.min.js' %}"></script>
        <script src="{% static 'js/angular-resource.min.js' %}"></script>
        <script src="{% static 'js/angular-route.min.js' %}"></script>

        <script src="{% static 'js/ui-bootstrap-tpls-2.5.0.min.js' %}"></script>

        <script src="{% static 'js/angular_app/core/core.module.js' %}"></script>
        <script src="{% static 'js/angular_app/core/user/user.module.js' %}"></script>
        <script src="{% static 'js/angular_app/app.module.js' %}"></script>
        <script src="{% static 'js/angular_app/app.config.js' %}"></script>
        <script src="{% static 'js/angular_app/core/user/user.services.js' %}"></script>
        <script src="{% static 'js/angular_app/user-login/user-login.module.js' %}"></script>
        <script src="{% static 'js/angular_app/user-login/user-login.component.js' %}"></script>
        <script src="{% static 'js/angular_app/user-data/user-data.module.js' %}"></script>
        <script src="{% static 'js/angular_app/user-data/user-data.component.js' %}"></script>
        <script src="{% static 'js/angular_app/users-list/users-list.module.js' %}"></script>
        <script src="{% static 'js/angular_app/users-list/users-list.component.js' %}"></script>
    </head>
    <body ng-app="userApp">
        <div ng-view></div>
{#        <user-login></user-login>#}
    </body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>